body{
    margin: 20px;
    color:rgb(16, 16, 31);
}
a{
    color:rgba(33, 33, 66, 0.43);
    font-size: 20px;
    text-decoration: none;
    border-style:outset;
    text-decoration: none;
    display:block;
    margin-bottom: 20px;
}
a:hover{
    border-style:inset;
    color:#800000
}
h1{
    border-bottom-style: double; 
}
h2{
    color:rgba(33, 33, 66, 0.43);
    font-size: 20px;
}
ul{
    list-style-type: none;
}