{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/musiques.css' %}">
    <title>Gestion Musiques</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-11">
            <h1>Gestion de dank music</h1>
                <nav class="content container">
                        <div class="col-md-8">
                                <p><a href="{% url 'musiques:morceau-liste' %}" class="top-menu">Liste des morceaux</a></p>
                            {% block contenu %}
                            {% endblock %}
                        </div>
        </div>
    </div>
</body>
</html>
