{% extends "musiques/base.html" %}
{% block contenu %}
<ul>
    {% for morceau in object_list %}
        <li><a href="{% url 'musiques:morceau-detail' pk=morceau.id %}">{{morceau.nom}} - {{morceau.artiste}}</a></li>
    {% endfor %}
</ul>
{% endblock %}